<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.CatShockEntertainment.FreePopularLiveWallpaper" platformBuildVersionCode="19" platformBuildVersionName="4.4.2-1456859">
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-feature android:name="android.software.live_wallpaper" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true" android:description="@string/app_description" android:icon="@drawable/icon" android:label="@string/app_name">
        <service android:description="@string/app_description" android:label="@string/app_name" android:name=".FreePopularLiveWallpaper" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/popular"/>
        </service>
        <activity android:exported="true" android:icon="@drawable/icon" android:label="@string/app_name_launcher" android:name="com.CatShockEntertainment.LiveWallpaperLib.LiveWallpaperLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/settings" android:name="com.CatShockEntertainment.PopularLiveWallpaper.PopularLiveWallpaperSettings" android:theme="@android:style/Theme.WallpaperSettings"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.google.ads.AdActivity"/>
    </application>
</manifest>
